<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhores Filmes IMDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <header>
        <h1>Melhores Filmes do IMDB</h1>
        <form method="GET" action="/">
            <input type="text" name="nome" placeholder="Nome do filme" value="{{ busca_nome }}">

            <select name="genero">
                <option value="">Todos os Gêneros</option>
                {% for g in generos %}
                    <option value="{{ g }}" {% if busca_genero == g %}selected{% endif %}>
                        {{ g.capitalize() }}
                    </option>
                {% endfor %}
            </select>

            <select name="ano">
                <option value="">Todos os Anos</option>
                {% for a in anos %}
                    <option value="{{ a }}" {% if busca_ano == a %}selected{% endif %}>
                        {{ a }}
                    </option>
                {% endfor %}
            </select>

            <button id="pesquisa" type="submit">Pesquisar</button>
        </form>

    </header>

<main class="grid-filmes">
        {% if filmes %}
            {% for filme in filmes %}
            <div class="cartao-filme">
                <img src="{{ filme.poster }}" alt="Poster de {{ filme.titulo }}" 
                onerror="this.onerror=null; this.src='https://placehold.co/400x600/313131/white?text=?';">
                <div class="info">
                    <h3>{{ filme.titulo }} ({{ filme.ano }})</h3>
                    <p class="nota"> ⭐ {{ filme.nota }} / 10</p>
                    <p class="genero">{{ filme.genero_str }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p id="msg">Nenhum filme encontrado.</p>
        {% endif %}
    </main> 

    {% if tem_mais %}
    <div class="ver-mais">
        <form method="GET" action="/">
            <input type="hidden" name="nome" value="{{ busca_nome }}">
            <input type="hidden" name="genero" value="{{ busca_genero }}">
            <input type="hidden" name="ano" value="{{ busca_ano }}">
            <input type="hidden" name="limite" value="{{ limite + 25 }}">
            
            <button type="submit" id="botaomais">Ver Mais </button>
        </form>
    </div>
    {% endif %}
    </main>
    <script>
        window.addEventListener('beforeunload', function() {
            sessionStorage.setItem('posicaoScroll', window.scrollY);
        });

        window.addEventListener('DOMContentLoaded', function() {
            const posicaoSalva = sessionStorage.getItem('posicaoScroll');
            if (posicaoSalva) {
                window.scrollTo(0, parseInt(posicaoSalva));
                sessionStorage.removeItem('posicaoScroll');
            }
        });
    </script> 
</body>
</html>